DATABASE_URL=PRISMA_DB_URL_HERE
PULSE_API_KEY=PRISMA_PULSE_API_KEY
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=CLERK_PUBlISHABLE_KEY
CLERK_WEBHOOK_SIGNING_SECRET=CLERK_WEBHOOK_SIGNING_SECRET
CLERK_SECRET_KEY=CLERK_SECRET
OPENAI_API_KEY=OPENAI_API_KEY
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=/